.container {
  width: 800px;
  height: 500px;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}

.container .item {
  text-align: center;
  line-height: 100px;
  border: 4px dashed tomato;
  background-color: orange;
  height: 200px;
  width: 100px;
  flex-basis: 0;
}
