div {
    width: 600px;
    height: 1500px;
    background-color: orange;
    background-image: url("https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;

    /* 애플 사이트처럼 만드려면 background-attachment를 fixed로 하면 될 듯? */
  }